body{
  font-family: Georgia;
  color: black;
  font-size: 17px;
}

a {
  color: black;
}

/* Header Rules */
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid black;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0 8px 15px;
  width: 80%;
}

nav {
  display: flex;
  justify-content: flex-end;
  min-width: 20%;
  margin-right: 20px;
}

nav ul {
  padding: 10px 0;
  width: 100%;
  flex: 1 2 150px;
  display: flex;
  justify-content: space-around;
}

nav ul span {
  display: inline-flex;
  padding: 0 20px;
}

#logo_name {
  font-family: Verdana;
  color: MediumAquamarine;
  padding: 10px 20px;
}

/* Main Content */
.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: stretch;
  width: 90%;
  padding-top: 8px;
}

.column {
  display: inline-flex;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.column.small img {
  width: 250px;
  height: auto;
  margin: 0 auto;
}

/* Content Info */
.main {
  background: url("../images/img-story-main.png") no-repeat;
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  padding: 0 20px;
}

h2 {
  margin: 0;
}

/* Images */
.img{
  display: flex;
}

.earth {
  background: url("../images/img-story-2.png");
  display: flex;
  height: 300px;
}

.camera {
  background-image: url("../images/img-story-3.png");
  display: flex;
  height: 300px;
}

.cats {
  background: url("../images/img-story-1.png") no-repeat;
  display: flex;
  height: 300px;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
 p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
 }

/* Articles */
.story {
   display: flex;
   flex-direction: column;
   align-items: stretch;
 }

.story.main {
   height: auto;
 }

.sidebyside {
  display: flex;
  justify-content: space-between;
}

.story.orca {
   display: inline-flex;
   height: auto;
   flex-direction: column;
   width: 47%;
   justify-content: space-between;
 }

.story.orca img {
   display: flex;
 }

.story h3 {
   justify-content: center;
   align-items: center;
   margin: auto;
   text-align: center;
 }

 .story.burger {
   display: inline-flex;
   height: auto;
   flex-direction: column;
   width: 47%;
   justify-content: space-between;
 }

 .story.cats {
   height: auto;
 }

 h4 {
   text-align: center;
   font-size: 16px;
   font-weight: bold;
 }

 #bites_text {
   display: flex;
 }

 #bites_text ul {
   align-items: flex-start;
   margin: 0;
   padding: 0;
   list-style: none;
   height: auto;
 }

 #bites_text li {
   border-bottom: 1px solid black;
   background-color: WhiteSmoke;
   font-family: Verdana;
   font-size: 12px;
   color: DimGray;
   line-height: 30px;
   padding: 0 15px;
   z-index: 5;
 }

/* Footer Section */
footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
 }

.footer_firstline {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  margin-top: 50px;
}

.footer_firstline p {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  display: inline-flex;
  padding-right: 25px;
 }

 .footer_firstline ul {
   display: inline-flex;
   justify-content: space-around;
   align-items: center;
   width: 200px;
 }

 .footer_firstline li {
   padding: 0 15px;
   list-style: none;
 }

#copyright p {
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
  color: black;
  line-height: 15px;
}
